---
const year = new Date().getFullYear();
---

<div class="my-4">
	<hr
		class="border-1 inline-block w-full max-w-5xl border-ghostindigo-200/20 dark:border-ghostindigo-800/20"
	/>
	<footer class="mx-auto my-0 mt-4 flex max-w-5xl flex-col justify-center p-0">
		<p class="text-center font-sans text-xs leading-6 text-gray-500 dark:text-ghostindigo-400">
			<span>View source on&nbsp;</span>
			<a
				href="https://github.com/shrirambalaji/blog.shrirambalaji.com"
				class="text-indigo-400 underline-offset-2 hover:underline dark:text-indigo-300"
			>
				GitHub
			</a>
			<span>&nbsp;&bull;&nbsp;&nbsp;Copyright © {year} Shriram Balaji</span>
		</p>
	</footer>
</div>
