---
import PageLayout from "@/layouts/Base";
import { getAllPosts, getUniqueTagsWithCount } from "@/utils";

const allPosts = await getAllPosts();
const allTags = getUniqueTagsWithCount(allPosts);

const meta = {
	title: "All Tags",
	description: "A list of all the topics I've written about in my posts",
};
---

<PageLayout meta={meta}>
	<h1 class="text-2xl font-semibold mb-6">Tags</h1>
	<ul class="flex flex-row flex-wrap gap-3">
		{
			allTags.map(([tag, val]) => (
				<li class="flex items-center gap-x-2 font-medium rounded-full px-2 py-2 bg-gray-100 dark:bg-ghostindigo-700 text-black dark:text-white">
					<a
						class="inline-block font-mono text-sm"
						href={`/tags/${tag}/`}
						title={`View posts with the tag: ${tag}`}
						rel="prefetch"
					>
						&#35;{tag}
					</a>
				</li>
			))
		}
	</ul>
</PageLayout>
