---
import type { PaginationLink } from "@/types";

interface Props {
	prevUrl?: PaginationLink;
	nextUrl?: PaginationLink;
}

const { prevUrl, nextUrl } = Astro.props;
---

{
	(prevUrl || nextUrl) && (
		<nav class="pagination-nav flex items-center gap-x-4">
			{prevUrl && (
				<a class="editorial-link me-auto py-2" href={prevUrl.url} rel="prefetch">
					{prevUrl.srLabel && <span class="sr-only">{prevUrl.srLabel}</span>}
					{prevUrl.text ? prevUrl.text : "Previous"}
				</a>
			)}
			{nextUrl && (
				<a class="editorial-link ms-auto py-2" href={nextUrl.url} rel="prefetch">
					{nextUrl.srLabel && <span class="sr-only">{nextUrl.srLabel}</span>}
					{nextUrl.text ? nextUrl.text : "Next"}
				</a>
			)}
		</nav>
	)
}
