---
import type { TocItem } from "@/utils";

interface Props {
	heading: TocItem;
}

const {
	heading: { slug, text, depth, subheadings },
} = Astro.props;
---

<li>
	<a
		class:list={["toc-link", { "toc-link--nested": depth > 2 }]}
		href={`#${slug}`}
		aria-label={`Scroll to section: ${text}`}>{text}</a
	>
	{
		!!subheadings?.length && (
			<ul>
				{subheadings.map((subheading) => (
					<Astro.self heading={subheading} />
				))}
			</ul>
		)
	}
</li>
