---
import type { TocItem } from "@/utils";

interface Props {
	heading: TocItem;
}

const {
	heading: { slug, text, depth, subheadings },
} = Astro.props;
---

<li class={`${depth > 2 ? "ms-2" : ""}`}>
	<a
		class={`block line-clamp-2 hover:text-accent mt-3`}
		href={`#${slug}`}
		aria-label={`Scroll to section: ${text}`}>{text}</a
	>
	{
		!!subheadings?.length && (
			<ul>
				{subheadings.map((subheading) => (
					<Astro.self heading={subheading} />
				))}
			</ul>
		)
	}
</li>
