---
import { render, type CollectionEntry } from "astro:content";

import BaseLayout from "./Base.astro";
import BlogHero from "@/components/blog/Hero";
import TOC from "@/components/blog/TOC";
import SeriesNavigation from "../components/blog/SeriesNavigation.astro";

interface Props {
	post: CollectionEntry<"post">;
}

const { post } = Astro.props;
const {
	data: { title, description, ogImage, publishDate, updatedDate },
	id,
} = post;
const socialImage = ogImage ?? `/og-image/${id}.png`;
const articleDate = updatedDate?.toISOString() ?? publishDate.toISOString();
const { headings } = await render(post);
---

<script>
	const scrollBtn = document.getElementById("to-top-btn") as HTMLButtonElement;
	const targetHeader = document.getElementById("blog-hero") as HTMLDivElement;

	function callback(entries: IntersectionObserverEntry[]) {
		entries.forEach((entry) => {
			// only show the scroll to top button when the heading is out of view
			scrollBtn.dataset.show = (!entry.isIntersecting).toString();
		});
	}

	scrollBtn.addEventListener("click", () => {
		document.documentElement.scrollTo({ top: 0, behavior: "smooth" });
	});

	const observer = new IntersectionObserver(callback);
	observer.observe(targetHeader);
</script>

<BaseLayout meta={{ title, description, articleDate, ogImage: socialImage }}>
	<div class="article-layout">
		<article class="break-words min-w-0" data-pagefind-body>
			<div id="blog-hero"><BlogHero content={post} /></div>
			<div
				class="prose prose-lg article-prose prose-headings:font-semibold prose-blockquote:border-l-4 prose-blockquote:not-italic prose-th:before:content-none"
			>
				<slot />
			</div>
			<SeriesNavigation post={post} />
		</article>
		{!!headings.length && <TOC headings={headings} />}
	</div>
	<button
		id="to-top-btn"
		class="to-top-button"
		aria-label="Back to Top"
		data-show="false"
		><svg
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
			focusable="false"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="2"
			stroke="currentColor"
			class="h-6 w-6"
		>
			<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5"></path>
		</svg>
	</button>
</BaseLayout>
